# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1
pywavefront
numpy
PyOpenGL
opencv-python
opencv-contrib-python
scipy
matplotlib
pyglet
pygame==2.0.0.dev6
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.8.0
torchvision==0.6.0+cu101 -f https://download.pytorch.org/whl/torch_stable.html
open3d
kornia==0.2.0
torchgeometry==0.1.2
